@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme inline {
  --color-foreground: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-background: light-dark(var(--color-gray-50), var(--color-gray-950));
  --color-background-card: light-dark(var(--color-gray-100), var(--color-gray-900));
  --color-background-head: light-dark(var(--color-gray-200), var(--color-gray-800));
  --color-up: light-dark(var(--color-green-400), var(--color-green-400));
  --color-pending: light-dark(var(--color-yellow-400), var(--color-yellow-400));
  --color-down: light-dark(var(--color-red-400), var(--color-red-400));
  --color-unknown: light-dark(var(--color-gray-400), var(--color-gray-400));
  --color-paused: light-dark(var(--color-blue-400), var(--color-blue-400));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
