@import "tailwindcss";

:root {
  color-scheme: light dark;
  /* mozilla pls */
  interpolate-size: allow-keywords;
}

@theme inline {
  --color-light: var(--color-gray-50);
  --color-dark: var(--color-gray-950);
  --color-foreground: light-dark(var(--color-dark), var(--color-light));
  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-background-card: light-dark(var(--color-gray-100), var(--color-gray-900));
  --color-background-head: light-dark(var(--color-gray-200), var(--color-gray-800));
  --color-up: light-dark(var(--color-green-400), var(--color-green-400));
  --color-pending: light-dark(var(--color-yellow-400), var(--color-yellow-400));
  --color-down: light-dark(var(--color-red-400), var(--color-red-400));
  --color-unknown: light-dark(var(--color-gray-400), var(--color-gray-400));
  --color-paused: light-dark(var(--color-blue-400), var(--color-blue-400));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility transition-in-up {
  @apply starting:translate-y-1/2 starting:scale-90 starting:opacity-0 translate-y-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-top;
}

@utility transition-in-down {
  @apply starting:-translate-y-1/2 starting:scale-90 starting:opacity-0 translate-y-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-top;
}

@utility transition-in-left {
  @apply starting:translate-x-1/2 starting:scale-90 starting:opacity-0 translate-x-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-left;
}

@utility transition-in-right {
  @apply starting:-translate-x-1/2 starting:scale-90 starting:opacity-0 translate-x-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-left;
}

@utility form-lg {
  @apply @7xl:grid-cols-[auto_2fr_auto_2fr_auto_2fr];
}

/* https://tailwindcss.com/docs/hover-focus-and-other-states#aria-states
  setting aria-checked to undefined doesn't render the attrib
*/
@custom-variant aria-checked-indeterminate (&:not([aria-checked]));

@layer base {
  input[type="number"] {
    appearance: textfield;
  }
  /* use form-lg on large forms */
  form {
    @apply grid grid-cols-[auto_3fr] @2xl:grid-cols-[auto_2fr_auto_2fr] gap-4 items-start;
  }
  /* chromium only applies non size-gated (@media) grid-template-columns to subgrid */
  fieldset {
    /* @apply grid col-span-full grid-cols-subgrid items-start; */
    @apply contents;
  }
  legend {
    @apply col-span-full font-semibold text-xl mb-4;
  }
  html:has(dialog[open]) {
    @apply overflow-hidden;
  }
  ::details-content {
    @apply h-0 overflow-clip transition-[height,content-visibility] transition-discrete;
  }
  [open]::details-content {
    height: auto;
  }
}

@theme {
  --container-8xl: 96rem;
}
